.a{
text-align:center;
font-size:45px;
font-weight:bold;
}

.center{
margin-left:auto;
margin-right:auto;
border-spacing:20px;
}

.textcenter{
text-align:center;
font-size: 1.5em;
padding-top:40px;
}

.topright{
vertical-align:top;
text-align:right;
}

input[type=text]{
width:300px;
height:30px;
border-radius:5px;
border-color:#cccccc;
}

body{
background-color:lightblue;
}

div{
background-color:#F5F5F5;
margin-left: 200px;
margin-right:200px;
border-radius:30px;
text-align:center;
}

input[type=submit]{
width:80px;
height:40px;
background-color:#0492C2;
color:white;
border-radius:10px;
border:none;
margin-bottom:50px;
}

select{
border-radius:5px;
width:150px;
height:30px;
}

#cent{
text-align:center;
padding-top:50%;
font-size:50px
}